includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 5
    ignoreErrors:
        - '#^Access to an undefined property App\\Models\\.*::\$[a-zA-Z0-9_]+$#'
        - '#^Call to an undefined method App\\Models\\.*::[a-zA-Z0-9_]+\(\)$#'
    paths:
        - app/

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
